[
	{
		"name": "",
		"type": "",
		"members": [
			{
				"name": "",
				"role": "",
				"tag": ""
			},
			{
				"name": "",
				"role": "",
				"tag": ""
			},
			{
				"name": "",
				"role": "",
				"tag": ""
			},
			{
				"name": "",
				"role": "",
				"tag": ""
			}
		]
	},
	.
	.
	.
]